div {
  background-color: red;
  width: 80px;
  height: 80px;
  padding: 15px;
  border: 1px solid black;
  margin-left: 1px;

  background-clip: content-box;
}

#second {
  margin-top: 50px;
  padding: 40px 70px;
}

#third {
  margin-top: 5px;
  padding: 20px 25px 60px
}

#fourth {
  margin-top: 140px; 
  margin-right: 35px;
  padding: 10px 350px 45px;

}





